version: '3.9'
services:
    postgres:
        image: postgres
        container_name: postgres
        restart: always
        deploy:
            restart_policy:
                condition: on-failure
                delay: 5s
                max_attempts: 5
                window: 120s
        ports:
            - 5432:5432
        volumes:
            - /Users/loganlee/project/like_to_be_teacher/server/auth_like_to_be_teacher/docker/pg_data:/var/lib/postgresql/data
        environment:
            - POSTGRES_USER=admin
            - POSTGRES_PASSWORD=dkffkel
            - POSTGRES_DB=local
